#ignore thumbnails created by windows
Thumbs.db
#OSX/Linux Stuff
*.DS_Store
*.swp
*.swo
#Ignore files build by Visual Studio
*.obj
*.exe
!.nuget/Nuget.exe
*.pdb
*.user
*.aps
*.pch
*.vsp
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
#[Ww]eb.[Cc]onfig
*.csproj.user
*.orig
*.psess
[Bb]in/
[Oo]bj/
[Oo]utput/
[Ee]nvironment/
TestResults/*
_TeamCity*/
Build/PactNet*.nupkg
*.ncrunchproject
*.ncrunchsolution
/packages/*
!packages/repositories.config
/Build/coverage
[Ll]ogs
*.DotSettings
PactNet/Files/pact/
.vs/
tools/
build/tools/
build/linux/
build/osx/
build/windows/
dist/

samples/ReadMe/Provider.Tests/Properties/launchSettings.json
samples/ReadMe/Provider/Properties/launchSettings.json

.idea/
