[submodule "PactNet.Tests/IntegrationTests/Specification/pact-specification"]
	path = PactNet.Tests/IntegrationTests/Specification/pact-specification
	url = https://github.com/bethesque/pact-specification.git
